@model IEnumerable<New_Cycle_2._0.PuntoEntrega>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+z0I5t9zjnv0Z+xBC+ZlA2jgIddE2mIi2JxI5O2nEJnqNiz5Z9g6GO6GUqO8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #CEF59B;
            font-family: 'Arial', sans-serif;
            text-align: center;
        }

        h2 {
            color: #743817;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        th {
            background-color: #007BFF;
            color: #fff;
        }

        td {
            background-color: #f9f9f9;
        }

        .details-link {
            text-decoration: none;
            padding: 5px 10px;
            background-color: #007BFF;
            color: #fff;
            border-radius: 5px;
        }

            .details-link:hover {
                background-color: #0056b3;
            }

        .btn-primary {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h2>Puntos de entrega</h2>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_del_punto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_de_residuos)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_del_punto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_de_residuos)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.PuntoEntregaID })" class="details-link">Detalles</a>
                </td>
            </tr>
        }
    </table>

    <a href="@Url.Action("Create", "Formu_calidad")" class="btn-primary">Realizar Formulario de calidad</a>
</body>
</html>
