@model New_Cycle_2._0.Usuarios

@{
    ViewBag.Title = "Registro de usuario";
}

<!DOCTYPE html>
<html>
<head>
    <title>Registro de usuario</title>
    <style>
        body {
            background-color: #CEF59B;
            text-align: center;
        }

        .register-container {
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .register-form label, .register-form input, .register-form small {
            display: block;
            margin-bottom: 10px;
        }

        .register-form small {
            font-size: 14px;
        }

        .register-form .password-container {
            position: relative;
        }

        .register-form input[type="password"] {
            padding-right: 30px;
        }

        .register-form .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .register-form button {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .action-links {
            text-decoration: none;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border-radius: 5px;
            margin-right: 10px;
        }

            .action-links:hover {
                background-color: #0056b3;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="register-container">
        <h2>Registro de usuario</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label for="Nombre">Nombre</label>
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            <h2></h2>
            <label for="Email">Email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            <h2></h2>
            <label for="Telefono">Teléfono</label>
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            <h2></h2>

            <div class="password-container">
                <label for="Contraseña">Contraseña</label>
                <input id="Contraseña" type="password" class="form-control" name="Contraseña" />
                <span class="toggle-password" id="mostrarContraseña">&#128065;</span>
            </div>
            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
            <h2></h2>

            <div class="password-container">
                <label for="ConfirmarContraseña">Confirmar Contraseña</label>
                <input id="ConfirmarContraseña" type="password" class="form-control" name="ConfirmarContraseña" />
                <span class="toggle-password" id="mostrarConfirmContraseña">&#128065;</span>
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmarContraseña, "", new { @class = "text-danger" })
            <h2></h2>

            <small>Recuerda que los Tipos de Usuarios son: Empresa, Cliente y Colaborador</small>

            <label for="Tipo_de_Usuario">Tipo de usuario</label>
            @Html.EditorFor(model => model.Tipo_de_Usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tipo_de_Usuario, "", new { @class = "text-danger" })
            <h2></h2>

            <button type="submit">Crear</button>
        }
    </div>

    <div>
        @Html.ActionLink("Volver al inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        $(document).ready(function () {
            $(".toggle-password").click(function () {
                var input = $(this).prev('input');
                var icon = $(this);

                if (input.attr("type") === "password") {
                    input.attr("type", "text");
                    icon.html("&#128064;"); // Otra cara unicode para "Ocultar Contraseña"
                } else {
                    input.attr("type", "password");
                    icon.html("&#128065;");
                }
            });
        });
    </script>
</body>
</html>






