@model New_Cycle_2._0.Intercambio

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <title>Crear</title>
    <style>
        body {
            background-color: #ACEBFF; /* Cambia el color de fondo según tus preferencias */
        }
        .action-links {
            text-decoration: none;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border-radius: 5px;
            margin-right: 10px;
        }

            .action-links:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>

  

    <h2>Crear</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Intercambio</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EmpresaID, "Empresa asociada", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductoAInterID, "Producto a entregar", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProductoAInterID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductoAInterID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductoInterID, "Producto a recibir", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProductoInterID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductoInterID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion_del_intercambio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Descripcion_del_intercambio, new { @class = "form-control", @style = "height: 150px;" })
            @Html.ValidationMessageFor(model => model.Descripcion_del_intercambio, "", new { @class = "text-danger" })
        </div>
    </div>

    <h2></h2>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Intercambio" class="action-links" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Regresar a la lista", "Index")
    </div>


</body>
</html>


