@model New_Cycle_2._0.Intercambio

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <title>Editar el intercambio</title>
    <style>
        body {
            background-color: #D4E6F1;
            font-family: 'Arial', sans-serif;
        }

        .edit-container {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #3498DB;
        }

        .form-horizontal {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .control-label {
            font-weight: bold;
            color: #3498DB;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #3498DB;
            border-radius: 5px;
            margin-top: 5px;
        }

        .action-links {
            background-color: #3498DB;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            .action-links:hover {
                background-color: #2980B9;
            }

        .btn-back {
            text-decoration: none;
            color: #3498DB;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid #3498DB;
        }

            .btn-back:hover {
                background-color: #AED6F1;
            }
    </style>
</head>
<body>
    <div class="edit-container">
        <h2>Editar el intercambio</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Intercambio</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IntercambioID)

                <div class="form-group">
                    @Html.LabelFor(model => model.EmpresaID, "Empresa asociada", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.EmpresaID, ViewBag.EmpresaList as SelectList, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductoAInterID, "Producto a entregar", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ProductoAInterID, ViewBag.ProductoAInterList as SelectList, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductoAInterID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductoInterID, "Producto a recibir", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ProductoInterID, ViewBag.ProductoInterList as SelectList, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductoInterID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion_del_intercambio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descripcion_del_intercambio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion_del_intercambio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="action-links" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-back" })
        </div>
    </div>
</body>
</html>



